<div class="contenedor">
    <div>
        <input class="buscador" type="text">
        <i class="fa fa-search"></i>
    </div>
    <div class="filtros">
        <a class="button button3">Sillas</a>
        <a class="button button3">Mesas</a>
        <a class="button button3">Camas</a>
        <a class="button button3">Comodas</a>
    </div>
    <div class="item">
        <div>
            <p>Silla Oslo 2</p>
            <h6>94,60 €</h6>
        </div>
        <img class="imagen" src="../../../assets/images/silla.webp" alt="" width="70"/>
    </div>
    <div class="item">
        <div>
            <p>Mesa de Comedor YU2326B</p>
            <h6>1050 €</h6>
        </div>
        <img class="imagen" src="../../../assets/images/mesa1.png" alt="" width="100"/>
    </div>          
</div>